html, body, p, h1, h2 {
  margin: 0;
  padding: 0;
  color: #000000;
}

#introduction, #members, #technology, #strategy, #contact{
  scroll-margin-top: 120px;
}


.navbar {
  width: 100vw;
  height: 80px;
  padding: 0.5rem  0;
  position: fixed;
  top: 0;
  z-index: 2;
  background-image: url("../../images/header.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  right: 0;

}

.menu-item{
  margin: 2rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}


.menu-toggle {
  display: none;
  position: absolute !important;
  right: 1rem!important;
  top: 2rem !important;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 3;
}

  .link {
    padding: 0 2rem;
    border-style: none solid;
    border-left-color: rgba(192, 192, 192, 0.35);
    border-right-color: rgba(192, 192, 192, 0.35);
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    color: #cccbcb;

     a {
      color: rgb(152, 149, 149) ;
      text-decoration: none;
      font-weight: 500;
    }
  }

  

  .close-menu{
    position: absolute;
    display: none;
    background: none;
    border: none;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
    padding: 1rem;
    top: 2rem;
    right: 2rem;

  }

  

  .link > div:hover {
    cursor: pointer;
  }

  .link > div >a:hover {
    color: rgb(247, 247, 247);
  }

.link > div.active > a {
  color: rgb(252, 252, 251);
  }



.double-line {
  width: 100%;
  height: 4px;
  border-style: solid none;
  border-bottom-color: rgba(192, 192, 192, 0.35);
  border-top-color: rgba(192, 192, 192, 0.35);
}

.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/header.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #FFFFFF;

  .title {
    
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 2rem;
    gap: 2rem;

    #zh {
      display: block;
      width: fit-content;
      font-size: 4.5rem;
      text-align: center;
      letter-spacing: 0.25rem;
      font-weight: 700;
      text-shadow: -2px 0px 4px #000000;
    }

    #en {
      font-size: 1.5rem;
      text-align: center;
      text-shadow: -2px 0px 4px #000000;
    }
  }


  
}



.body {
  /* width: 100vw; */
  width: 80%; /* RWD */
  min-height: calc(100vh - 96px);
  padding: 5rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 6rem auto 0rem auto;
}

h1 {
  color: #88A4EC;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 38px;
  border-left: solid 4px #88A4EC;
  padding-left: 15px;
  padding-bottom: 10px;
}

.tab {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  > a {
    background-color: #88A4EC;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 24px;
  }
}

.tab2 {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  > a {
    background-color: #88A4EC;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 24px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  /* justify-content: space-between; */
  list-style-type: disc;

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 60%;

    :first-child {
      margin-bottom: 0.5rem;
    }
  }


  > img {
    margin-top: 38px;
    box-sizing: border-box;
    width: 30%;
    /* min-width: 100px; */
    max-width: 300px;
    height: auto;
    object-fit: fill;
  }
}

.highlight {
  width: fit-content;
  background-color: #88A4EC;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 4px 24px;
}

.members {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.member-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 auto;
}

.group {
  width: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: #E5F6FF;
}

.list {
  width: 100%;
  /*display: grid;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
  /*gap: 2rem;
  grid-template-columns: repeat(5, 1fr);*/
}

.list .flex {
  display: flex;
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  max-width: 220px;
}

.profile a img {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.member-tab {
  display: flex;
  flex-direction: row;
  margin-bottom: -2rem;
  
  > div {
    padding: 1.5rem;
    background-color: transparent;


    > div:hover {
      cursor: pointer;
    }
  }

  .selected {
    background-color: #E5F6FF;
  }
}

.display-none {
  display: none;
}

.display-show {
  display: flex;
}

.footer {
  width: 100vw;
  height: 48px;
  position: relative;
  background-image: url("../../images/header.jpg");
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  color: #FFFFFF;
}

.map{
  margin-top:1em;
  float: left;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-end;

  .icon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .iconal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    > img {
      width: 4rem;
      height: 4rem;
    }
  }
}
a {
  color: #ffffff; /* Link color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  color: #ffffff;
}


@media screen and (max-width: 768px) {

  .menu-toggle {
    display: block !important;
    margin-right: 0rem;

    &.active{
      display: none;
    }
  }
  .header .title #zh {
    font-size: 4rem !important;
  }



  .menu-item {

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -2rem;
    right: 0 !important;
    width: 60vw;
    height: 100vh;
    background: rgba(43, 42, 42, 0.95);

    &.active {
      display: flex !important;
    }

  }

   .double-line{
      display: none;
  }

   .link {
      flex-direction: column;
      background:none;
      border-style: none;
      gap: 1rem;
  }
  
   
  .close-menu {
      display: block; 
  }

  .member-row {
    flex-direction: column !important;
  }

  .list {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .profile{
    max-width: 150px;
  }

  .profile a img {
    width: 150px;
  }

  .tab{
    gap: 1rem;
  }

  .tab2{
    gap: 1rem;
  }

  h2{
    font-size: 1.5rem !important;
  }
  .content img{
    width: 200px;
    height: auto;
  }
  

}

@media screen and (max-width:600px) {
  .content{
    flex-direction: column;
    gap: 1rem;

  > div{
    width: 100%;

  }
  
}

.tab2{
  flex-direction: column;
  max-width: 300px;
}
}



@media screen and (max-width: 360px) {
  .header .title #zh {
    font-size: 2.8rem !important;
  }

  .tab >a{
    padding: 4px 5px;
  }
  
  .content{
    width: 100%;
  }

  .group {
    padding: 1rem;
    gap: 1.5rem;
  }

  .list {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.5rem;
  }

  .highlight{
    padding: 4px 10px;
  }
  .title{
    font-size: 1.2rem;
  }

  .tab2{
    max-width: 200px;
  }

  

 


}


  

  


